GREENHERB/bin/Debug/net10.0/GREENHERB.dll
GREENHERB/bin/Debug/net10.0/GREENHERB.exe
GREENHERB/bin/Debug/net10.0/GREENHERB.pdb
GREENHERB/obj/Debug/net10.0/apphost.exe
GREENHERB/obj/Debug/net10.0/GREENHERB.AssemblyInfo.cs
GREENHERB/obj/Debug/net10.0/GREENHERB.AssemblyInfoInputs.cache
GREENHERB/obj/Debug/net10.0/GREENHERB.csproj.FileListAbsolute.txt
GREENHERB/obj/Debug/net10.0/GREENHERB.dll
GREENHERB/obj/Debug/net10.0/GREENHERB.pdb
GREENHERB/obj/Debug/net10.0/GREENHERB.sourcelink.json
GREENHERB/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
GREENHERB/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
GREENHERB/obj/Debug/net10.0/ref/GREENHERB.dll
GREENHERB/obj/Debug/net10.0/refint/GREENHERB.dll
GREENHERB.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_GREENHERB.Tests
GREENHERB.Tests/bin/Debug/net10.0/CoverletSourceRootsMapping_GREENHERB.Tests
GREENHERB.Tests/obj/GREENHERB.Tests.csproj.nuget.dgspec.json
GREENHERB.Tests/obj/project.nuget.cache
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.AssemblyInfo.cs
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.AssemblyInfoInputs.cache
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.assets.cache
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.csproj.AssemblyReference.cache
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.csproj.FileListAbsolute.txt
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.GeneratedMSBuildEditorConfig.editorconfig
GREENHERB.Tests/obj/Debug/net10.0/GREENHERB.Tests.sourcelink.json
